<div>
  <mat-toolbar class="toolbar flex flex-space-around">
      <div class="logo flex flex-start" [routerLink]="['/']">
          <img src="assets/logo.png" class="logo-img" alt="logo">
      </div>
      <div class="shop-link">
          <i class='fas fa-shopping-bag' style='font-size: xx-large; max-width: 45%; color:white;margin-top: 9px;'></i>
          <i class='fas fa-user-friends' style='font-size: xx-large; max-width: 45%; color:white;margin-top: 9px;margin-left: 9px;'></i>
      </div>

  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
