<div class="content" [ngClass]="{notadded: shouldShow, added: !shouldShow}">
  <div class="container">
      <div class="row">
          <div class="concert-photo two-columns-xl white">
              <img src="assets\{{concert.img}}" alt="concert">
          </div>
          <div class="detail-info two-columns-xl white">
              <div class="info-box">
                  <h1>{{concert.singer}}</h1>
                  <p class="price">{{concert.price}}</p>
                  <div class="concert-detail">
                      <p>Location: {{concert.location}}</p>
                      <p>Date: {{concert.date}}</p>
                      <p>Time: {{concert.time}}</p>
                  </div>
              </div>
              <button class="btn" (click)="shouldShow = !shouldShow">Add to cart</button>
          </div>
      </div>
  </div>

  <div class="add-to-cart" [ngClass]="{hide: shouldShow, show: !shouldShow}">
      <div class="valign">
          <div class="container">
              <img src="assets\success.png" alt="success">
              <h3>Ticket added to the cart!</h3>
              <button class="btn white" (click)="viewConcert(concert._id)">Proceed to checkout</button>
          </div>
      </div>
  </div>
</div>
