<div class="content purchase">
  <div class="container">
  <div class="add-to-cart login">
    <div class="valign">
      <div class="container">
        <h3>Please scan the QR to access the concert</h3>
        <div class="detail">
          <div class="qr-container"><img [src]="qr | safe: 'resourceUrl'"/></div>
            <div class="info-detail">
              <div class="action_bottom">
                <input class="btn white" type="submit" value="Login">
              </div>
              <p style="text-decoration: underline; text-align: center; cursor: pointer;"
                >Go Back</p>
            </div>
        </div>
      </div>
    </div>
  </div>
 </div>

