@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

html, body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  width: 100% !important;
}
.mat-form-field-label{
  color: black !important;
}
.mat-form-field-underline{
  background-color:#00CED1 !important;
}
.mat-form-field-ripple {
  background-color: #00CED1 !important;
}

