<<div class="content">
  <div class="container">
      <div class="concerts">
          <h4>Insert your DID:</h4>
          <form class="example-form">
            <mat-form-field class="example-full-width" style="margin-right: 30px;">
              <mat-label style="font-family: 'Work Sans', sans-serif;">Owner's DID</mat-label>
              <input matInput placeholder="did:ethr:XX" style="font-family: 'Work Sans', sans-serif;" type="didOwner" [(ngModel)]="didOwner" name="didOwner">
            </mat-form-field>
          <button class="btn" type="submit" value="submit" (click)="getOwnerDID()">Send</button>
          <mat-card class="cards">
            <h4>Your concerts</h4>
            <div *ngFor="let concert of concertsUser; index as i" class="concert-box  flex-column">
            <mat-card class="list" (click)="viewConcert(concert.concert._id)">
              <table class="purchase-list">
                <tr>
                  <td class="clear" style="color: black; display: none;">
                    <mat-icon>clear</mat-icon>
                  </td>
                  <td class="singer" style="color: black;">
                    <p class="name">{{concert.concert.singer}}</p>
                  </td>
                  <td class="price" style="color: black">{{concert.concert.price}}</td>
                </tr>
              </table>
            </mat-card>
          </div>
            <mat-card class="total" [hidden]="isHidden">
              <table class="total-amount">
                <tr>
                  <td class="total-string name" style="color: black">TOTAL</td>
                  <td class="total-price" style="color: black">{{total}}€</td>
                </tr>
              </table>

